{% include 'navbar.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/style.css' %}">
<title>Contact</title>
  <section id="contact">
      <h1>
    GENICS
    <div class="colm-logo">
            {% load static %}<img src= "{% static 'img/Logo.png' %}" alt="Logo">
        </div>
  </h1>
    <center>
      <font size="6">
            
<p>CONTACT INFO</p>
  
      </font>
        <div class="contact-item">
            <h1>Phone Number</h1>
            <h2>+91-00000 00000</h2>
          </div>
        </div>
        <div class="contact-item">
            <h1>Email</h1>
            <h2>genics@genics.com</h2>
          </div>
        </div>
        <div class="contact-item">
            <h1>Address</h1>
            <h2>Bangalore, Karnataka, India</h2>
          </div>
        </div>
      </div>
    </div>
    </center>
  </section>